*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  height: 100vh;
  font-family: 'TT Commons Pro', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  height: 80px;
  box-shadow: 0 1.6px 3.2px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  z-index: 1;
}

.logo-img {
  display: none;
}

.small-logo-img {
  height: 80px;
}

header img {
  height: 80px;
  margin-right: 10px;
}

nav {
  height: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

nav {
  list-style-type: none;
  display: flex;
  gap: 10px;
  color: #173139;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}

nav a:hover {
  background: #c0bbc7;
}

nav a {
  text-decoration: none;
  color: #173139;
  width: fit-content;
  padding: 0 10px;
}

.discover, nav a {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #1e3f48;
  text-decoration: none;
  background-color: #eeecec;
  height: 55%;
  border-radius: 5px;
  font-weight: bold;
}

.discover {
  padding: 0 20px;
  background-color: #1e3f48;
  color: #eeecec;
}

.discover:hover {
  background: #c0bbc7;
  color: #1e3f48;
}

nav a:hover {
  background: #c0bbc7;
}

.discover:active, nav a:active {
  background: #daa972;
}

.main {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.hero {
  background: url('../assets/images/medium-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.6px 3.2px rgba(0, 0, 0, 0.15);
}

.hero-msg {
  margin-left: 20px;
  text-align: center;
  color: #1e3f48;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-msg h1 {
  margin-bottom: 0;
}

.hero-msg p {
  color: #1e3f48;
  margin-top: 0;
}

.features article {
  margin-top: 50px;
  padding: 20px 0;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.features article img {
  width: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 20px 8px;
}

.features article div {
  width: 300px;
  height: 100%;
  margin: 0 auto;
}

.features article div h2 {
  color: #1e3f48;
  line-height: 2.5rem;
}

.features article div p {
  color: #1e3f48;
  line-height: 2rem;
}

.about {
  background: #eeecec;
  box-shadow: 0 -1.6px 3.2px rgba(0, 0, 0, 0.15);
  height: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #1e3f48;
}

.about h3 {
  font-size: 1.5rem;
}

.about > p {
  width: 70%;
  text-align: center;
  line-height: 1.7rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mayada-links {
  margin-bottom: 40px;
}

.repo a {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  color: #ad7e48;
}

.repo a:hover {
  color: #1e3f48;
}

.repo a:active {
  color: #355f6b;
}

footer {
  height: 60px;
  box-shadow: 0 -1.6px 3.2px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #173139;
  margin: 0;
  margin-top: auto;
}

footer p {
  margin-left: 50px;
}

@media screen and (min-width: 400px) {
  header img {
    margin-left: 10px;
  }
}

@media screen and (min-width: 600px) {
  .hero {
    justify-content: unset;
  }
}

@media screen and (min-width: 650px) {
  .features article {
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 750px;
  }

  .features article div {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  #details img {
    order: 2;
  }

  .about {
    height: 600px;
  }

  .links-container {
    display: flex;
    gap: 60px;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  header img {
    margin-left: 50px;
  }

  nav {
    margin-right: 50px;
  }

  .hero {
    height: 550px;
  }

  .hero-msg {
    margin-left: 100px;
    font-size: 1.1rem;
  }

  .hero-msg h1 {
    line-height: 4rem;
    margin-bottom: 0;
  }

  .features h2 {
    font-size: 2rem;
  }

  footer p {
    margin-left: 100px;
  }
}

@media screen and (min-width: 800px) {
  .logo-img {
    display: block;
  }

  .small-logo-img {
    display: none;
  }

  .features article {
    gap: 80px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }

  .hero {
    height: 650px;
  }

  .hero-msg {
    margin-left: 200px;
    font-size: 1.3rem;
  }

  .hero-msg h1 {
    line-height: 5rem;
  }

  .features article {
    gap: 120px;
  }

  .about > p {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .features article {
    gap: 180px;
  }

  .links-container {
    gap: 100px;
  }

  .about > p {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .hero-msg {
    margin-left: 250px;
    font-size: 1.5rem;
  }

  .hero-msg h1 {
    line-height: 5.5rem;
  }

  .features article {
    gap: 240px;
  }

  .about > p {
    width: 40%;
  }
}
