*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  height: 100vh;
  font-family: 'TT Commons Pro', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background: #eeecec;
}

header {
  height: 100px;
  background: #e5dad8;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}

header img {
  width: 180px;
}

nav {
  height: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #173139;
  margin: 0;
  padding: 0;
  height: 100px;
  align-items: center;
}

nav li {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

nav li:hover {
  border-bottom: 2px solid #1e3f48;
}

.signup {
  display: none;
}

.hero {
  height: 450px;
  background: #c0bbc7;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero h1 {
  margin: 0;
  font-size: 1.7rem;
  color: #1e3f48;
}

.hero p {
  margin: 0;
  color: #152d34;
}

button.discover {
  appearance: none;
  width: 120px;
  height: 40px;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #1e3f48;
  background: #1e3f48;
  color: #e5dad8;
  border-radius: 5px;
  cursor: pointer;
}

button.discover:hover {
  background: #e5dad8;
  color: #1e3f48;
}

button.discover:active {
  background-color: #daa972;
  color: #1e3f48;
}

.hero-img {
  width: 200px;
}

.search {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search p {
  font-size: 1.1rem;
  margin-bottom: 35px;
  color: #1e3f48;
}

.search-div {
  align-self: flex-end;
}

#book-search {
  margin-right: 20px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c0bbc7;
  padding: 0 10px;
}

#book-search:focus {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
}

#book-search:focus {
  outline: none;
}

.search button {
  align-self: flex-end;
  height: 40px;
  appearance: none;
  width: 80px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #1e3f48;
  background: #1e3f48;
  color: #e5dad8;
  border-radius: 5px;
  cursor: pointer;
}

.search button:hover {
  background: #e5dad8;
  color: #1e3f48;
}

.search button:active {
  background-color: #daa972;
  color: #1e3f48;
}

footer {
  height: 100px;
  background: #e5dad8;
  box-shadow: 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0;
  color: #173139;
  margin-top: auto;
}

footer p {
  margin-left: 50px;
}

@media screen and (min-width: 500px) {
  #book-search {
    width: 300px;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  header img {
    width: 250px;
  }

  nav ul {
    gap: 50px;
  }

  .signup {
    display: inline-flex;
  }

  .hero {
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  button.discover {
    margin-top: 20px;
    width: 150px;
    height: 50px;
  }

  .hero-left {
    gap: 30px;
  }

  .hero-img {
    width: 300px;
  }

  #book-search {
    width: 500px;
  }

  footer p {
    margin-left: 100px;
  }
}
